<header class="user-show-name">
  <h2> <%= @user.name %></h2>
</header>

<ul class="sort-reviews">
  <li><p> <%= link_to("Sort by newest review", user_path({sort: 'id', order: 'asc'})) %> </p></li>
  <li><p> <%= link_to("Sort by oldest review", user_path({sort: 'id', order: 'desc'})) %> </p></li>
</ul>

  <h4><% @reviews.each do |review| %></h4>
    <section class="reviews" id="review-<%= review.id %>">
      <img src="<%= review.book.cover_image %>">
        <section class="reviews-wrapper">
          <section class="reviews-info">
            <h2 class="review-title"> <%= @user.name %>'s review: <%= review.title %></h2>
            <h2 class="book-title"><%= link_to review.book.title, book_path(review.book) %></h2>
            <p>"<%= review.review_text %>"</p>
            <p class="rating">Rating: <%= review.rating %></p>
            <p>Review written on the: <%= review.created_at %></p>
          <section class="button_delete">
            <%= link_to "Delete", review_path(review), method: :delete %>
          </section>
        </section>
      </section>
    </section>
  <% end %>
