
<h3> <%= @user.name %>'s reviews:</h3>
<h4><% @user.reviews.each do |review| %></h4>
  <section class="reviews" id="review-<%= review.id %>">
    <h5><%= review.title %></h5>
    <p>Review: <%= review.review_text %></p>
    <p>Rating: <%= review.rating %></p>
    <p>Book: <%= link_to review.book.title, book_path(review.book) %></p>
    <img src="<%= review.book.cover_image %>">
    <p>Review written on the: <%= review.created_at %></p>
    <%= button_to "Delete", review_path(review), method: :delete %>
  </section>
<% end %>
