<% @books.each do |book| %>
  <section class="books-index" id="book-<%= book.id %>">
    <a href="<%= book_path(book) %>" ><h3><%= book.title %></h3></a>
      <% book.authors.each do |author| %>
        <h5><%= author.name %></h5>
      <% end %>
      <p>Pages: <%= book.page_count %></p>
      <p>Year: <%= book.year %></p>
  </section>
<% end %>
