<section class="book-sort-bar">
  <ul>
    <li><a href="<%= books_path %>?sort=page_count&order=asc">Sort by Page Count (Ascending)</a></li>
    <li><a href="<%= books_path %>?sort=page_count&order=desc">Sort by Page Count (Descending)</a></li>
    <li><a href="<%= books_path %>?sort=year&order=asc">Sort by Year (Ascending)</a></li>
    <li><a href="<%= books_path %>?sort=year&order=desc">Sort by Year (Descending)</a></li>
  </ul>
</section>

<% @books.each do |book| %>
  <section class="books-index" id="book-<%= book.id %>">
    <h3><%= book.title %></h3>
      <% book.authors.each do |author| %>
        <h5><%= author.name %></h5>
      <% end %>
      <p>Pages: <%= book.page_count %></p>
      <p>Year: <%= book.year %></p>
  </section>
<% end %>
