<% if @book.errors %>
<ul id="errors">
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<section id="new-form-wrapper">
<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "e.g: #isPeterOkay?" %><br>

  <%= f.label :year %>
  <%= f.number_field :year, placeholder: "e.g: 2019", min: 0, max: 2019 %><br>

  <%= f.label :authors %>
  <%= f.text_field :authors, value: "", placeholder: "Scott Thomas, Ian Douglas, ..." %><br>

  <%= f.label :page_count %>
  <%= f.number_field :page_count, placeholder: "e.g: 1811" %><br>

  <%= f.label :cover_image %>
  <%= f.text_field :cover_image, value: "", placeholder: "e.g: 1811.com/peter.png" %><br>

  <%= f.submit "Add Book", id: "new-book-button" %>
<% end %>
</section>
