<h2><%= @book.title %></h2>
<% @book.authors.each do |author| %>
  <h4><%= author.name %></h4>
<% end %>
<p>Pages: <%= @book.page_count %></p>
<p>Year: <%= @book.year %></p>
<h4>Reviews: <% @book.reviews.each do |review| %>
  <p><%= review.title %></p>
  <p><%= review.user.name %></p>
  <p>Rating: <%= review.rating %></p>
  <p><%= review.review_text %></p>
<% end %>
<h4>
<h4 id="add-review"><%= link_to("Add Review", new_book_review_path(@book, @book.reviews.ids)) %><h4>
