<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li><p><%= link_to("Home Page", root_path) %></p></li>
        <li><p><%= link_to("All Books", books_path) %></p></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
